.newTeam_Container{
    text-align: center;
    padding-bottom: 10px; 
    background-color: rgba(148, 145, 145, 0.645);
    transition: all 1.5s;
    animation: fadein 0.5s;
  -moz-animation: fadein 0.5s; /* Firefox */
  -webkit-animation: fadein 0.5s; /* Safari and Chrome */
  -o-animation: fadein 0.5s;
}
.newTeam_Container > h1 {
    color: white;
    font-family: cursive;
    margin-left: -80%;
}
.newTeam_Wrap{
    border-radius: 3px;
    display: flex;
    flex-direction: column;
}
.newTeam_Form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 4%;
    margin-top: 3%;
}
.newInputteam{
    width: 350px;
    height: 31.5px;
    text-align: center;
    font-size: 15px;
}
.newTeam_photo1{
    width: 420px;
    height: 260px;
    border: 3px solid rgb(108, 70, 70);
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.657);
    margin-left: 34%;
    margin-top: 2.5%;
}
.newphoto1{
    width: 420px;
    height: 260px; 
    border-radius: 5px;
}
.newTeamButton{
    margin-top: 4%; 
    cursor: pointer;
    margin-right: 45%;
    background-color: white;
    width: 20%;
    transition: all 1s;
    border-radius: 4px;
    margin-left: 620px;
}
.newTeamButton:hover{
    margin-top: 4%; 
    background-color: rgb(72, 193, 72);
    border-radius: 9px;
    transition: all 1s;
    width: 10%;
}
label{
    font-size: 18px;
    margin-left: 80px;
}


/*Nest Hub Max (max-width: 1280px; max-heigth: 800px;)*/
@media only screen and (max-width: 1280px){
    .newTeam_Container{
        text-align: center;
        padding-bottom: 10px; 
        background-color: rgba(148, 145, 145, 0.645);
        transition: all 1.5s;
        animation: fadein 0.5s;
        -moz-animation: fadein 0.5s; /* Firefox */
        -webkit-animation: fadein 0.5s; /* Safari and Chrome */
        -o-animation: fadein 0.5s;
    }
    .newTeam_Container > h1 {
        color: white;
        font-family: cursive;
        margin-left: -80%;
    }
    .newTeam_Wrap{
        border-radius: 3px;
        display: flex;
        flex-direction: column;
        margin: 8px;
    }
    .newTeam_Form{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 4%;
        margin-top: 3%;
    }
    .newInputteam{
        width: 350px;
        height: 31.5px;
        text-align: center;
        font-size: 15px;
    }
    .newTeam_photo1{
        width: 420px;
        height: 260px;
        border: 3px solid rgb(255, 252, 252);
        border-radius: 8px;
        background-color: rgba(255, 255, 255, 0.657);
        margin-left: 34%;
        margin-top: 8%;
    }
    .newphoto1{
        width: 420px;
        height: 260px; 
        border-radius: 5px;
    }
    .newTeamButton{
        margin-top: 4%; 
        cursor: pointer;
        margin-right: 45%;
        background-color: white;
        width: 25%;
        transition: all 1s;
        border-radius: 4px;
        padding:3px;
        margin-left: 600px;
    }
    label{
        font-size: 18px;
        margin-left: 80px;
        margin-top: 8px;
    }
}

/*Nest Hub (max-width: 1024px; max-heigth: 600px;)*/
@media only screen and (max-width: 1024px){
    .newTeam_Container{
        text-align: center;
        padding-bottom: 10px; 
        background-color: rgba(148, 145, 145, 0.645);
        transition: all 1.5s;
        animation: fadein 0.5s;
        -moz-animation: fadein 0.5s; /* Firefox */
        -webkit-animation: fadein 0.5s; /* Safari and Chrome */
        -o-animation: fadein 0.5s;
    }
    .newTeam_Container > h1 {
        color: white;
        font-family: cursive;
        margin-left: -75%;
    }
    .newTeam_Wrap{
        border-radius: 3px;
        display: flex;
        flex-direction: column;
        margin: 8px;
    }
    .newTeam_Form{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 4%;
        margin-top: 3%;
    }
    .newInputteam{
        width: 320px;
        height: 31.5px;
        text-align: center;
        font-size: 15px;
    }
    .newTeam_photo1{
        width: 420px;
        height: 230px;
        border: 3px solid rgb(255, 252, 252);
        border-radius: 8px;
        background-color: rgba(255, 255, 255, 0.657);
        margin-left: 30%;
        margin-top: 2%;
    }
    .newphoto1{
        width: 420px;
        height: 230px; 
        border-radius: 5px;
    }
    .newTeamButton{
        margin-top: 2%; 
        cursor: pointer;
        margin-right: 40%;
        background-color: white;
        width: 25%;
        transition: all 1s;
        border-radius: 4px;
        padding:3px;
        margin-left: 450px;
    }
    label{
        font-size: 16px;
        margin-left: 60px;
        margin-top: 8px;
    }
}

 /*Surface Pro 7  (max-width: 912px; max-heigth: 1368px;)*/
 @media only screen and (max-width: 912px){
    .newTeam_Container{
        text-align: center;
        padding-bottom: 10px; 
        background-color: rgba(148, 145, 145, 0.645);
        transition: all 1.5s;
        animation: fadein 0.5s;
        -moz-animation: fadein 0.5s; /* Firefox */
        -webkit-animation: fadein 0.5s; /* Safari and Chrome */
        -o-animation: fadein 0.5s;
    }
    .newTeam_Container > h1 {
        color: white;
        font-family: cursive;
        margin-left: -75%;
    }
    .newTeam_Wrap{
        border-radius: 3px;
        display: flex;
        flex-direction: column;
        margin: 8px;
    }
    .newTeam_Form{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 4%;
        margin-top: 3%;
    }
    .newInputteam{
        width: 320px;
        height: 31.5px;
        text-align: center;
        font-size: 15px;
    }
    .newTeam_photo1{
        width: 420px;
        height: 230px;
        border: 3px solid rgb(255, 252, 252);
        border-radius: 8px;
        background-color: rgba(255, 255, 255, 0.657);
        margin-left: 30%;
        margin-top: 2%;
    }
    .newphoto1{
        width: 420px;
        height: 230px; 
        border-radius: 5px;
    }
    .newTeamButton{
        margin-top: 2%; 
        cursor: pointer;
        margin-right: 40%;
        background-color: white;
        width: 25%;
        transition: all 1s;
        border-radius: 4px;
        padding:3px;
        margin-left: 450px;
    }
    label{
        font-size: 16px;
        margin-left: 60px;
        margin-top: 8px;
    }
 }

/*iPad Air  (max-width: 820px; max-heigth: 1180px;)*/
/* @media only screen and (max-width: 820px){} */

  /*iPad mini  (max-width: 768px; max-heigth: 1024px;)*/
@media only screen and (max-width: 768px){
    .newTeam_Container{
        text-align: center;
        padding-bottom: 10px; 
        background-color: rgba(148, 145, 145, 0.645);
        width: 100%;
        height: 100%;
        animation: fadein 1.5s;
  -moz-animation: fadein 1.5s; /* Firefox */
  -webkit-animation: fadein 1.5s; /* Safari and Chrome */
  -o-animation: fadein 1.5s;
    }
    .newTeam{
        font-family: cursive;
        margin-bottom: 3px;
    }
    .divLink{
        padding-top: 25px; 
        text-align: start; 
        margin-left: 5px; 
        padding-bottom: 23%;
    }
    .newLinkBack{
        /* margin-bottom: 15px; */
        text-decoration: none; 
        margin-left: 20px;
        border-radius: 5px;
        background-color: rgb(134, 131, 131);
        padding: 5px;
        font-size: 17px;
    }
    .newTeam_Wrap{
        width: 100%;
        border-radius: 3px;
        display: flex;
        flex-direction: row;
        margin-top: 2%;

    }
    .newTeam_Form{
        display: flex;
        flex-direction: column;
        padding: 12px; 
        margin-left: -4px;
        flex-wrap: wrap;
    }
    label{
        font-size: 20px;
        margin-right: 25%;
        width: 40%;
    }
    .newInputteam{
        width:300px;
        text-align: center;
        font-size: 17px;
        margin-left: 38px;
    }
    .newTeamButton{
        margin-top: 25%; 
        background-color: white;
        padding: 5px;
        border-radius: 3px;
        width: 30%;
        margin-right: 33%;
        
    }
    .newTeam_photo1{
        width: 350px;
        height: 210px;
        border: 2px solid rgb(108, 70, 70);
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0.657);
        margin-left: 10px;
        margin-top: 35%
    }
    .newphoto1{
        width: 100%;
        height: 210px;

    }
}

/*Surface Duo  (max-width: 540px; max-heigth: 720px;)*/
 /* @media only screen and (max-width: 540px){} */

   /*iPhone 13 Pro Max  (max-width: 428px; max-heigth: 926px;)*/
   /* @media only screen and (max-width: 428px){} */

  /*iPhone XR  (max-width: 414px; max-heigth: 896px;)*/
  /* @media only screen and (max-width: 414px){} */

  /*Samsung Galaxy S20 Ultra  (max-width: 412px; max-heigth: 915px;)*/
  /* @media only screen and (max-width: 412px){} */

  /*Samsung Galaxy A51/71  (max-width: 412px; max-heigth: 914px;)*/
  /* @media only screen and (max-width: 412px){} */

    /*Pixel 5 (max-width: 393px; max-heigth: 851px;)*/
    /* @media only screen and (max-width: 393px){} */

  /*iPhone 12 Pro  (max-width: 390px; max-heigth: 844px;)*/
  /* @media only screen and (max-width: 390px){} */

   /*iPhone SE (max-width: 375px; max-heigth: 667px;)*/
   /* @media only screen and (max-width: 375px){} */

   /*Samsung Galaxy S8+  (max-width: 360px; max-heigth: 740px;)*/
   /* @media only screen and (max-width: 360px){} */

 /*Galaxy Fold (max-width: 280px; max-heigth: 653px;)*/
 /* @media only screen and (max-width: 280px){} */





/*Nest Hub Max (max-width: 1280px; max-heigth: 800px;)*/
/* @media only screen and (max-width: 1280px){} */

/*Nest Hub (max-width: 1024px; max-heigth: 600px;)*/
/* @media only screen and (max-width: 1024px){} */

 /*Surface Pro 7  (max-width: 912px; max-heigth: 1368px;)*/
 /* @media only screen and (max-width: 912px){} */

/*iPad Air  (max-width: 820px; max-heigth: 1180px;)*/
/* @media only screen and (max-width: 820px){} */

  /*iPad mini  (max-width: 768px; max-heigth: 1024px;)*/
  /* @media only screen and (max-width: 768px){} */

 /*Surface Duo  (max-width: 540px; max-heigth: 720px;)*/
 /* @media only screen and (max-width: 540px){} */

   /*iPhone 13 Pro Max  (max-width: 428px; max-heigth: 926px;)*/
   /* @media only screen and (max-width: 428px){} */

  /*iPhone XR  (max-width: 414px; max-heigth: 896px;)*/
  /* @media only screen and (max-width: 414px){} */

  /*Samsung Galaxy S20 Ultra  (max-width: 412px; max-heigth: 915px;)*/
  /* @media only screen and (max-width: 412px){} */

  /*Samsung Galaxy A51/71  (max-width: 412px; max-heigth: 914px;)*/
  /* @media only screen and (max-width: 412px){} */

    /*Pixel 5 (max-width: 393px; max-heigth: 851px;)*/
    /* @media only screen and (max-width: 393px){} */

  /*iPhone 12 Pro  (max-width: 390px; max-heigth: 844px;)*/
  /* @media only screen and (max-width: 390px){} */

   /*iPhone SE (max-width: 375px; max-heigth: 667px;)*/
   /* @media only screen and (max-width: 375px){} */

   /*Samsung Galaxy S8+  (max-width: 360px; max-heigth: 740px;)*/
   /* @media only screen and (max-width: 360px){} */

 /*Galaxy Fold (max-width: 280px; max-heigth: 653px;)*/
 /* @media only screen and (max-width: 280px){} */