.home{
    animation: fadein 0.5s;
    -moz-animation: fadein 0.5s; /* Firefox */
    -webkit-animation: fadein 0.5s; /* Safari and Chrome */
    -o-animation: fadein 0.5s;
}
.Container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2px;
    height: 760px;
    background-color: rgba(148, 145, 145, 0.645);
    position: relative;

}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@media only screen and (max-width: 768px){
    .home{
        animation: fadein 0.5s;
        -moz-animation: fadein 0.5s; /* Firefox */
        -webkit-animation: fadein 0.5s; /* Safari and Chrome */
        -o-animation: fadein 0.5s;
    }
    .Container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        padding: 2px;
        height: 100%;
        width: 100%;
    }
}