h1{
    display: flex;
    justify-content: center;
    color: rgb(226, 9, 9);
    background-color: rgb(148, 147, 147);
    padding: 2px;
    margin-bottom: 10px;
  }
.Container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 5px;
}