.MainDesing{
    overflow-x: hidden;
    overflow-y: hidden;
     background-color: #80808095;
}
.mid{
    display:flex;
    flex-direction: row;

}
.button1{
    margin-left: 20px;
    width: 65px;
    cursor:pointer;
}
.button2{
   margin-right: 20px;
   width: 65px;
   cursor:pointer;
}
.sectionNav{
    display: flex;
    flex-direction: row;
    margin:10px;
    padding:2px;
    
}
.return{
    font-size: 35px;
    margin-left: -260px; 
    opacity: 1;
    width: 860px;
}
.innerSectionNav{
   width: 50px;
}
.editPlayer{
    margin-left: 180px;
    border-radius: 4px;
    font-size: 14px;
}
.deletePlayer{
    margin-left: 190px;
    border-radius: 4px;
    font-size: 24px;
}

.section2{
    height: 514px;
    width: 100%;
}
.section2Container{
    display: flex;
    flex-direction: row;
    animation: fadeInRight 2s;
}
.newadded{
    text-decoration: none; 
    border-radius: 50px;
    background-color: rgb(134, 131, 131);
    padding: 7px;
    color: white;
    cursor: pointer;
    margin-left: 30%;
    margin-top: 20px; 
    width: 50px;
    text-align:center;
}

@keyframes fadeInRight {
    from {
      opacity: 0;
      transform: translate3d(100%, 0, 0);
    }
  
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
.innerSection2{
    display: flex;
    flex-direction: column;
}
.inner-innersection2{
    width: 250px;
    height: 350px;
    border: 2px solid white;
    border-radius: 12px;
    margin-top: 40px;
    background-color: gray;
}
.image{
    width: 250px;
    height: 351px;
    border-radius: 12px;
}
.innersection2H3{
    margin-top: 20px;
    height: 20px;
    width: 230px;
    padding:10px;
    background-color: white;
    border-radius: 12px;
}

.innerSection2-3{
    width: 400px;
    height: 330px;
    border: 2px solid white;
    border-radius: 12px;
    margin-top: 20px;
    padding: 10px;
    background-color: white;
    text-align: justify;
}
.changeMore:hover{
  color:blue;
  font-style:italic;
  font-weight: bolder;
}
.innerSectionStart{
    margin-top: 20px;
    text-align: center;
}
.flow{
    display:grid;
    gap: var(--flow-spacer,1rem)
}
.section3{ 
    display:grid;
    grid-auto-flow: column;
    overflow: auto;
    overflow-y: hidden;
    animation: fadeInRight 3s;
    /* position: relative; */
}
.scrollPlayers{
    display:grid;
    grid-auto-flow: column;
    /* overflow-y: hidden; */
    animation: fadeInRight 3s;
   
}
.media-group{
    grid-auto-columns: 1fr;
   
}
.media-group-container{
    margin: 3px;
    height: 210px; 
   
}
.media-group-container:hover{
    cursor: pointer;
    box-shadow: 5px 3px 3px 5px;
    border-radius: 12px;
}
.media-group-container > h3 {
    background-color: white;
    border-radius: 3px;
    height: 50px;
}
.media-group > img {
    background-color: gray;
    border-radius: 12px;
    width: 160px;
    height: 160px;
    aspect-ratio: 16/9;
    /* object-fit: cover; */
}
.miFlag {
    display:flex;
    justify-content: center;
    width: 410px;
    height: 360px;
    border: 3px solid rgb(108, 70, 70);
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.762);
    margin-left: 34%;
    margin-top: 8px;
    transition: all 1s;
}

.miFlag2 {
    width: 410px;
    height: 360px; 
    border-radius: 5px;
   
}
.section4{
    /* display:grid;
    grid-auto-flow: column;
    overflow: auto;
    overflow-y: hidden;
    animation: fadeInRight 3s; */
    background-color: gray;
    height: 250px;
}