.newMember_Container{
    text-align: center;
    padding-bottom: 10px; 
    transition: all 1.5s;
    animation: fadein 0.5s;
  -moz-animation: fadein 0.5s; /* Firefox */
  -webkit-animation: fadein 0.5s; /* Safari and Chrome */
  -o-animation: fadein 0.5s;
}
.newMember_Container > h1 {
    color: black;
    font-family: cursive;
    margin-left: -80%;
}
.newMember_AboutGrid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.innerNew{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 50px;
}
.inputNew{
    width: 225px;
    height: 30px;
    padding-left: 4px;
}
.inputNewAbout{
    width: 225px;
    height: 67px;
    padding-left: 4px;
}
.innerNew2{
    display: flex;
    flex-direction: column;
    background-color: rgb(106, 103, 103);
    width: 740px;
    height: 510px;
    margin-top: 40px;
    margin-left: 630px;
    border-radius: 4px;
    border: 1.5px solid black;
    position: absolute;
}
.innerNew2:hover{
    border: none;
}
.innerNew3{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    background-color: rgb(186, 180, 180);
    width: 740px;
    height: 510px;
    margin-top: -20px;
    margin-left: -20px;
    border-radius: 4px;
    position: relative;
    cursor: pointer;
    /* animation: faOutUpBig; */
}
.intoFade{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    background-color: rgb(186, 180, 180);
    width: 740px;
    height: 510px;
    margin-top: -20px;
    margin-left: -20px;
    border-radius: 4px;
    animation: fadeOutUpBig 2s; 
}
@keyframes fadeOutUpBig{
    from {
      opacity: 1;
    }
  
    to {
      opacity: 0;
      transform: translate3d(0, -1000px, 0);
    }
  }
.innerNew3:hover{
    border: 1.5px solid rgb(110, 104, 104);
}
.newMemberButton{
    margin-top: 25px;
    width: 90px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 30px;
    margin-left: 205px;
    margin-right: -100px;
    padding: 8px;
    background-color: rgb(105, 215, 240);
}
.newMemberButton:hover{
   background-color: aqua;
}
.photo{
    height: 200px;
    width: 160px;
}

input{
    width: 20%;
    margin: 0 auto;
    font-size: 17px;
}
.div{
    height: 200px;
    width: 160px;
    border: 5px solid rgb(24, 23, 23);
    border-radius: 4px;
    grid-column: 1/2;
    grid-row: 1;
}
.div2{
    margin-top: -10px;
    width: 200px;
    grid-column: 2/3;
    grid-row: 1;
}
.div2 > h3{
    margin-bottom: 35px;
}
.div2 > h5{
    height: 35px;
    margin-left: 10px;
    margin-top: -21.5px;
    font-family: cursive;
    font-size: 15.5px;
    text-align: start;
}
.div3 {
    grid-column: 3/4;
    grid-row: 1;
}
.div3 > p{
    height: 130px;
    width: 250px;
    margin-right: 10px;
    margin-top: 38px;
    text-align: justify;
    padding: 4px;
    font-size: 15px;
    font-family: cursive;
    font-weight: bolder;
}
.div4{
    grid-column: 1/2;
    grid-row: 2;
    width: 250px;
   margin-top: -25px;
}
.div4 > h5 span {
    color: white;
}
.div4 > h5{
    height: 20px;
    margin-left: 10px;
    padding-top: 2px;
    font-family: cursive;
    font-size: 15.5px;
    text-align: start;
}
.div5{
    grid-column: 2/3;
    grid-row: 2;
    margin-top: -25px;
}
.div5 > h5 span {
    color: white;
}
.div5 > h5{
    height: 20px;
    margin-left: 10px;
    padding-top: 2px;
    font-family: cursive;
    font-size: 15.5px;
    text-align: start;
}
.div6{
    grid-column: 3/4;
    grid-row: 2;
    margin-top: -25px;
}
.div6 > h5 span{
    color: white; 
}
.div6 > h5{
    height: 20px;
    margin-left: 10px;
    padding-top: 2px;
    font-family: cursive;
    font-size: 15.5px;
    text-align: start;
}
@media only screen and (max-width: 768px){
    .newMember_Container{
        text-align: center;
        padding-bottom: 10px; 
        background-color: rgba(148, 145, 145, 0.645);
        height: 100%;
        width: 100%;
        transition: all 1.5s;
        animation: fadein 0.5s;
  -moz-animation: fadein 0.5s; /* Firefox */
  -webkit-animation: fadein 0.5s; /* Safari and Chrome */
  -o-animation: fadein 0.5s;
    }
    .newTitle{
        background-color: rgb(134, 131, 131);
        color: white;
        font-family: cursive;
        box-shadow: 0 4px 2px -1px rgb(49, 49, 49);
        margin-bottom: 3px;
    }
    .wrapLink{
        padding-top: 10px; 
        text-align: start; 
        margin-left: 10px;
        margin-bottom: 38px;
        margin-top: 23px;
    }
    .newLinkBackNew{
        text-decoration: none; 
        margin-left: 30px;
        border-radius: 5px;
        background-color: rgb(134, 131, 131);
        padding: 5px;
        font-size: 17px;
    }
    .newMember_AboutGrid{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 10px;
        gap: 15px; 
    }
    input{
        width: 40%;
        margin: 0 auto;
        font-size: 17px;
        border-radius: 7px;
    }
    .div{
        height: 240px;
        width: 200px;
        border-radius: 40px;
        border: 5px solid gray;
    }
    .photo{
        height: 240px;
        width: 200px;
        border-radius: 40px;
    }
    .newMemberButton{
        margin-top: 120px;
        width: 25%;
        font-size: 15px;
        border-radius: 4px;
        background-color: white;
    }
}