body{
  margin: 0;
  background: url('/src/image/MLB-vector-logos.jpeg');
}
.App{
  /* background: url('/src/image/MLB-vector-logos.jpeg'); */
  background-size: contain;
  height: 100%; 
  
}
.app{
  font: bolder 150px "Alfa Slab One";
  text-align: center;
  padding-top: 18%;
  padding-bottom: 7.86%;
} 
 .Title{
  mix-blend-mode: multiply;
  background-color:#733033;
  height: 374.5px;
}
.Team:hover{
 cursor: pointer;
}
.TitleLink{
  text-decoration: none;
  color: white;
}
.TitleLink:hover{
  color: #52FF52;
}
@media only screen and (max-width: 768px) {
  body {
    margin: 0;
    background: url('/src/image/MLB-vector-logos.jpeg');
  }
  .App{
    height:100%;
    width: 100%;
    background-size: contain;
    
  }
  .app{
    font: bolder 80px "Alfa Slab One";
    padding-top: 80%;
    text-align: center;
    flex-wrap: wrap;
  }
  .Title{
    mix-blend-mode: multiply;
    background-color:#733033;
    height: 535px;
  }
 
}