.App{
  background: url('/src/image/MLB-vector-logos.jpeg');
  background-size: contain;
  height: 700px;
}
.app{
  font: bolder 150px "Alfa Slab One";
  text-align: center;
  padding-top: 25%;
} 
 .Title{
  mix-blend-mode: multiply;
  background-color:#733033;
  height: 374.5px;
}
.Team:hover{
 cursor: pointer;
}
.TitleLink{
  text-decoration: none;
  color: white;
}
.TitleLink:hover{
  color: #52FF52;
}