h3{
    text-align: center;
}
span{
    font-weight: 600;
    color:rgb(39, 38, 38);
}
.teamLink{
    margin-bottom: 35px;
    text-decoration: none; 
    margin-left: 30px;
     border-radius: 50px;
     background-color: rgb(134, 131, 131);
     padding: 5px;
}
.teamPlayer_Wrapper{
    margin: 10px;
    align-items: center;
    padding: 7px;
    width: 100%;
}
.teamPlayer_Container{
    display:flex;
    /* flex-direction: row; */
    justify-content: center;
     /* align-items: center; */
    text-align: center;
    /* border-style: outset;
    cursor: pointer;
    /* text-decoration: none; */
    margin: 10px; 
    background-color: rgba(186, 183, 183, 0.912);
    border-radius: 10px;
    padding: 15px;
    width: 300px;
    height: 250px;
    cursor: pointer;
    /* box-shadow: 5px 3px 3px; */
}
.teamPlayer_Container:hover{
    box-shadow: 5px 3px 3px;
}
.Container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 5px;
    /* margin: 10px; */
}
.players_Img{
    height: 75px;
    width: 70px;
    border: 5px solid rgb(89, 88, 88);
    border-radius: 40px;
}
.players_Name{
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}
.players_Info{
    text-align: left;
}
.playerDataInfo{
    color: rgb(87, 84, 84);
}
.More{
    color: rgb(87, 84, 84);
}
.More:hover{
    text-align: center;
    background-color: rgba(255, 255, 255, 0.701);
    transition:all 0.5s;
    border-radius: 50px;
}
.teamPlayer_Group{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
     margin-top: 10px ;
     padding: 5px;
     color: rgb(87, 84, 84);
}
.teamPlayer_About{
    padding: 7px;
    width: 35%;
    text-align: justify;
    border-radius: 5px;
    border: 1px solid black;
    margin: 15px;
    background-color: rgba(186, 183, 183, 0.876);
    color: rgba(60, 57, 57, 0.941);
}
.teamsPlayers:hover{
    box-shadow: 5px 3px 3px;
}